/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
  font-size: 1.5rem;
}

body img {
  width: 90%;
}
header {
  background-image: url(./images/banner.jpg);
  background-size: cover;
}
header .front {
  padding-bottom: 100px;
  padding-top: 100px;
}
header .logo {
  background-color: black;
  padding-right: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}
header img {
  width: 200px;
}
button {
  background-color: rgb(240, 76, 47);
  color: aliceblue;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  border-radius: 5px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
  margin-top: 10px;
  cursor: pointer;
}
body h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
  color: rgb(37, 162, 195);
  padding-bottom: 30px;
}
h1 {
  font-size: 1.65rem;
}

p {
  padding-bottom: 30px;
}
h2 {
  padding-top: 50px;
}
.notebook img {
  border-radius: 900px;
  float: left;
  display: block;
 margin-top: 80px;
 margin-left: 50%;
  width: 50%;
  height: 100%;
}
.notebook{
  display: block;
  text-align: center;
  width: 40%;
  height: 100%;
}
.div1 {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 40%;
  height: 100%;
  display: inline-block;
  margin-right: 20%;
  
}
.important {
  padding-top: 40px;
  background-color: rgb(226, 45, 14);
  color: #ffffff;
}

.important h1,
h4 {
  color: #ffffff;
}
.testimony {
  font-style: italic;
}
.imprtant h4 {
  font-size: 1.4rem;
  font-style: normal;
}

.divimage img {
  display: block;
  width: 100%;
}
footer {
  background-color: rgb(37, 162, 195);
  color: #ffffff;
  margin-top: 40px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.conclusion h1,
a {
  color: #ffffff;
}
.divider {
  border: none;
  border-top: 1px solid white;
  margin: 20px auto;
  width: 60%;
}
.div2 {
  border: 1px solid #dee1e3;
  border-radius: 8px;

  max-width: 437px;
  margin: auto;
  background-color: white;
  border-top: 0;
  padding-bottom: 50px;
  display: inline-block;
  margin-top: 50px;
  vertical-align: top;
  margin-bottom: 50px;
}

.div3 {
  border: 1px solid #dee1e3;
  border-radius: 8px;

  max-width: 450px;
  margin: auto;
  background-color: white;
  border-top: 0;
  padding-bottom: 50px;
  display: inline-block;
  margin-top: 50px;
  vertical-align: top;
  margin-bottom: 50px;
}
.div4 {
  border: 1px solid #dee1e3;
  border-radius: 8px;

  max-width: 485px;
  margin: auto;
  background-color: white;
  border-top: 0;
  padding-bottom: 50px;
  display: inline-block;
  margin-top: 50px;
  vertical-align: top;
  margin-bottom: 50px;
}
